# **Loops**

# **1) While Loop**

# Print numbers 1 to 100

In [3]:
num = 1
while num <= 5:
    print(num)
    num +=1

1
2
3
4
5

# Print numbers 100 to 1

In [4]:
num = 5
while num >= 1:
    print(num)
    num -=1

5
4
3
2
1

# Print multiplication table of a number n

In [5]:
num = 5
count = 1
while count <= 10:
    print(num, "*", count, "=", num * count)
    count +=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Print Elements of list

In [7]:
list_of_numbers = [1, 4, 16, 25, 36, 49, 64, 81, 9, 100]
count = 0
while count < 10:
    print(list_of_numbers[count])
    count +=1

1
4
16
25
36
49
64
81
9
100

# Search for a number X in the tuple using loop

In [ ]:
list_of_numbers = (1, 4, 16, 25, 36, 49, 64, 81, 9, 100)
count = 0
x = 36
while count < 10:
    if list_of_numbers[count] == x:
        print(x, "found at index", count)
    count += 1

36 found at index 4

# **Break Keyword**

In [10]:
ahmed_age = 10
adil_age = 5
while(adil_age <= 10):
    if adil_age == ahmed_age:
        print("Both are equal")
        print("Adil is", adil_age,"Years old")
        break # Break Keyword
    else:        
        adil_age += 1

Both are equal
Adil is 10 Years old

# **Continue Keyword**

In [15]:
i = 0
while i <= 10: #<------------------------
    if i >= 2 and i <= 5:             # | 
        i += 1                        # | 
        continue # Continue Keyword  ----
        # Continue statement se control While condition par chala jata hai
    else:
        print(i)
        i += 1

0
1
6
7
8
9
10

# **2) For Loop**

In [28]:
list_of_numbers = [1, 4, 16, 25, 36]
for number in list_of_numbers:
    print(number)

print("\n")

vegetables = ["Potato", "Tomato", "Onion", "Carrot"]
for vegetable in vegetables:
    print(vegetable)
else: # It's totally Optional
    print("\nTHE END")

1
4
16
25
36


Potato
Tomato
Onion
Carrot

THE END

# Search X in tuple

In [34]:
list_of_numbers = (1, 4, 16, 25, 36, 49, 64, 81, 100)
x = 49
index = 0  # ye hum ne khd se index bnaya hai q k Tuple ma indexing nahi hoti
for i in list_of_numbers:
    if i == x:
        print(x, "found at", index, "index")
    index += 1

49 found at 5 index

# Print numbers from 1 to 100 using for loop and range() function

In [43]:
for i in range(5):
    print(i)
print("\n")

0
1
2
3
4

# Print numbers from 100 to 1 using fro loop and range() function

In [44]:
for i in range(-5, 0):
    print(i)
print("\n")

-5
-4
-3
-2
-1

# Print multiplication table of a number n using For and Range()

In [45]:
num = 5
for i in range(1, 11):
    print(num, "*", i , "=", num * i)
print("\n")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Print SUM of first N numbers using WHILE LOOP

In [63]:
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1

print("Sum of all numbers:",sum)
print("\n")

Sum of all numbers: 55

# Print Factorial of first N numbers using FOR LOOP

In [62]:
j = 1
fact = 1
num = 6
for j in range(j, num + 1):
    fact *= j
    print("j = ", j, ", Factorial = ", fact)
    j += 1

j =  1 , Factorial =  1
j =  2 , Factorial =  2
j =  3 , Factorial =  6
j =  4 , Factorial =  24
j =  5 , Factorial =  120
j =  6 , Factorial =  720